<!DOCTYPE html>
<html>
    <head>
        <title>Будильник</title>
        <link rel="stylesheet" type="text/css" href="static/css.css">
        <link rel="stylesheet" type="text/css" href="../static/css.css">
    </head>
    <body>
        <div class="wrapper">
            <div id="settings">
            </div>
            <div id="exception">{{ exceptions }}</div>
            <form method="post" action="/create_alarm">
                <input type="text" name="name" placeholder="Имя">
                <input type="time" name="time">
                <div class="checkboxes_for_days">
                    <div class="one_day">
                        <input type="checkbox" name="0">
                        <span>пн</span>
                    </div>
                    <div class="one_day">
                        <input type="checkbox" name="1">
                        <span>вт</span>
                    </div>
                    <div class="one_day">
                        <input type="checkbox" name="2">
                        <span>ср</span>
                    </div>
                    <div class="one_day">
                        <input type="checkbox" name="3">
                        <span>чт</span>
                    </div>
                    <div class="one_day">
                        <input type="checkbox" name="4">
                        <span>пт</span>
                    </div>
                    <div class="one_day">
                        <input type="checkbox" name="5">
                        <span>сб</span>
                    </div>
                    <div class="one_day">
                        <input type="checkbox" name="6">
                        <span>вс</span>
                    </div>
                </div>
                <input type="submit" value="Создать будильник">
            </form>
            <input type="button" value="Настройки" style="margin-top: 10px;" onclick="alert('Work In Progress')">
            <h3>
                Существующие будильники:
            </h3>
            <div class="alarms_all">
                {% for alarm in alarms %}
                <div class="one_alarm">
                    <div class="name">{{ alarm['name'] }}</div>
                    <div class="time">{{ alarm['time'] }}</div>
                    <div class="days">{{ alarm['days'] }}</div>
                    <form method="post" action="/delete_alarm">
                        <input type="text" value="{{ alarm['name']}}" name="name" style="display: none;">
                        <input type="submit" value="Удалить">
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
        <script src="static/js.js"></script>
        <script src="../static/js.js"></script>
    </body>
</html>